header {
  padding: 3em;
  position: relative;
}

button {
  position: absolute;
  bottom: 10%;
  right: 10%;
  border: none;
  background-color: rgb(192, 192, 192);
  padding: 1em;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: 0 auto;
  grid-gap: 20px;
}

h2 {
  text-align: center;
}

article {
  height: 25rem;
  display: flex;
  flex-direction: column;
  color: black;
}

article:hover {
  transform: translateY(-8px);
  transition: all 0.2s linear;
}

.product-image {
  background-color: rgb(199, 228, 253);
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product-image i {
  font-size: 3rem;
}

h4 {
  padding-top: 10px;
}

.product-details {
  height: 35%;
}

.product-details p {
  display: flex;
  justify-content: space-between;
}
